//- extends try 

//- block content 
//-     fieldset 
//-         legend #{titre}
//-         form.mb-3(action="/api/patient/add", method="post") 
//-             .col-mb-3
//-               label Nom
//-               input.form-control(type='text',name="nom")
//-             .col-mb-3
//-               label Prénom
//-               input.form-control(type='text',name="prenom")
//-             .col-md-3
//-                 label Sexe
//-                 select.form-select(aria-label="Default select example" name="sexe")
//-                     option(value="Masculin") Masculin
//-                     option(value="Féminin") Féminin
//-             .col-md-3
//-                 label.form-label Date de naissance
//-                 input.form-control(type='date'  name='datenaissance')
//-             .col-mb-3
//-                 label Téléphone
//-                 input.form-control(type='text',name="telephone")
//-             .col-mb-3
//-                 label Adresse
//-                 input.form-control(type='text',name="adresse")
//-             .col-mb-3
//-                 label Age
//-                 input.form-control(type='number',name="age")
//-             .col-mb-3
//-                 label Nom de jeune fille de la mère
//-                 input.form-control(type='text',name="nomjeunefillemere")
//-             button.btn.btn-primary(type="submit",value ="Enregistrer") Enregistrer
        
